@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* https://chinese-font.netlify.app/cdn/ */
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 104 55% 48%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 104 55% 48%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 142.4 71.8% 29.2%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

#qr {
	display: none;
}

@media print {
	header, footer {
		display: none !important;
	}

	#sub-nav, #action-bar {
		display: none;
	}

	#horizontal, #blank, #vertical {
		display: none;
	}

	.horizontal #horizontal, .blank #blank, .vertical #vertical {
		display: block !important;
	}

	.horizontal .sheet, .blank .sheet, .vertical .sheet {
		border: 0px solid white !important;
	}

	#qr {
		display: flex !important;
		flex-direction: row;
		align-items: flex-end;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-size: 10px;
	}
	
	#qr img {
		max-width: 120px;
		margin: 0 4px 0 10px;
	}
	
	#qr div {
		padding: 0 10px 10px 0;
	}
}

.schulte {
	margin: 1rem;
	align-items: center;
}

.schulte .controls {
	margin: 0.5rem;
	display: flex;
	gap: 10px;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.schulte .grid-container {
	display: grid;
	margin: 0.5rem 0;
	background-color: rgba(0, 0, 0, 0.5);
	gap:1px;
	border:1px solid rgba(0, 0, 0, 0.5);
}

.schulte .cell {
	width: 90px;
	height: 90px;
	color: rgba(0, 0, 0, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FDFFFF;
	border-radius: 0px;
	font-size: 4rem;
	cursor: pointer;
	transition: background-color 0.2s;
}

.schulte .six .cell {
	width: 76px;
	height: 76px;
	font-size: 3.6rem;
}

.schulte .cell:hover {
	background-color: rgba(208, 208, 208, 0.8);
}

.schulte .cell.correct {
	background-color: #4caf50;
	color: rgba(255, 255, 255, 1);
}

.schulte .cell.wrong {
	background-color: #f95a72;
}

.schulte .g3 {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0px;
	margin-top: 1rem;
}

.schulte .g3 .next {
	justify-self: center;
}

.schulte .g3 .best {
	justify-self: center;
}

.schulte .g3 .timer {
	justify-self: center;
}

.schulte select,
.schulte button {
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	background-color: #4caf50;
	color: white;
	cursor: pointer;
}

.schulte select {
	background-color: white;
	color: black;
	border: 1px solid #ccc;
}

.schulte button:hover {
	background-color: #45a049;
}

/* Switch styling */
.schulte .switch-container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.schulte .switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

.schulte .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.schulte .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 24px;
}

.schulte .slider:before {
	position: absolute;
	content: '';
	height: 12px;
	width: 12px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

.schulte input:checked + .slider {
	background-color: #4caf50;
}

.schulte input:checked + .slider:before {
	transform: translateX(20px);
}

@media (max-width: 1280px) {
	.schulte .cell {
		width: 80px;
		height: 80px;
		font-size: 3rem;
	}
}

@media (max-width: 640px) and (orientation: portrait) { 
	.schulte .cell {
		width: 66px;
		height: 66px;
		font-size: 2.5rem;
	}

	.schulte .six .cell {
		width: 56px;
		height: 56px;
		font-size: 2.2rem;
	}
}

@media (max-height: 640px) and (orientation: landscape) { 
	.schulte .cell {
		width: 40px;
		height: 40px;
		font-size: 2rem;
	}

	.schulte .six .cell {
		width: 32px;
		height: 32px;
		font-size: 1.6rem;
	}
}
